<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="app.css">
    <title></title>
</head>
<body ng-app="assignment1">
    <div ng-controller="lunchItemsCount">
        
        <input class="{{changeBorderColor}}" type="text" ng-model="itemsCSV"/>
        
        <button ng-click="countItems()">Check If Too Much</button>

        <span class="{{changeColor}}">{{lunch_status}}</span>
        
    </div>
</body>

</html>
